<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://WEB:94/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://WEB:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>WDSVisitorsAd</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>WEB\WebDeployUser</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LocalHostConnStr" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=localhost;user id=root;password=r00t@xs4db;persistsecurityinfo=True;allowzerodatetime=True;convertzerodatetime=True;port=3308;database=dbkolbe" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LocalHostConnStr_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=localhost;user id=root;password=r00t@xs4db;persistsecurityinfo=True;allowzerodatetime=True;convertzerodatetime=True;port=3308;database=dbkolbe" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="dbkolbeConn" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=web;user id=root;password=r00t@xs431u;persistsecurityinfo=True;allowzerodatetime=True;convertzerodatetime=True;port=3308;database=dbkolbe;connectiontimeout=300;defaultcommandtimeout=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbkolbeConn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=web;user id=root;password=r00t@xs431u;persistsecurityinfo=True;allowzerodatetime=True;convertzerodatetime=True;port=3308;database=dbkolbe;connectiontimeout=300;defaultcommandtimeout=300" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>